<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_octa_ticket_root"
              name="Octa"
              sequence="50"
              groups="octa_base.group_octa_cskh,octa_base.group_octa_ops"/>

   
    <menuitem id="menu_octa_ticket_all"
              name="Tất cả Tickets"
              parent="menu_octa_ticket_root"
              action="action_octa_ticket_all"
              groups="octa_base.group_lead"
              sequence="5"/>

    
    <menuitem id="menu_octa_cskh_root"
              name="Chăm sóc khách hàng"
              parent="menu_octa_ticket_root"
              groups="octa_base.group_octa_cskh"
              sequence="10"/>

    <menuitem id="menu_octa_ticket_cskh"
              name="Ticket CSKH"
              parent="menu_octa_cskh_root"
              action="action_octa_ticket_cskh"
              groups="octa_base.group_octa_cskh"
              sequence="10"/>

    <menuitem id="menu_octa_ops_root"
              name="Vận hành thương mại"
              parent="menu_octa_ticket_root"
              groups="octa_base.group_octa_ops"
              sequence="20"/>

    <menuitem id="menu_octa_ticket_ops"
              name="Ticket Vận hành"
              parent="menu_octa_ops_root"
              action="action_octa_ticket_ops"
              groups="octa_base.group_octa_ops"
              sequence="10"/>

    <menuitem id="menu_octa_ticket_overdue"
              name="Quá SLA"
              parent="menu_octa_ticket_root"
              action="action_octa_ticket_overdue"
              groups="octa_base.group_octa_cskh,octa_base.group_octa_ops"
              sequence="40"/>

    <menuitem id="menu_octa_ticket_waiting"
              name="Chờ phối hợp"
              parent="menu_octa_ticket_root"
              action="action_octa_ticket_waiting"
              groups="octa_base.group_octa_cskh,octa_base.group_octa_ops"
              sequence="45"/>

 
    <menuitem id="menu_octa_ticket_import"
              name="Import từ Excel"
              parent="menu_octa_ticket_root"
              action="action_ticket_import_wizard"
              groups="octa_base.group_lead"
              sequence="50"/>

</odoo>